.Homepage .container{
    width: 100%;
    padding-bottom:40px;
}
.Homepage .title{
    font-size:72px;
    padding-top:50px;
    z-index: 0;
}
.Homepage .strikethrough{
    color:#6EC1FF;
    font-size:50px;
    font-weight:900;
    position:absolute;
    padding-top:66px;
    left:-33px;
}

.Homepage .tagline{
    font-size:64px;
    padding-top:66px;
    position:relative;
    left:-66px;
}
.Homepage .shoptag{
    padding-top:133px;
    padding-left:111px;
    z-index: 1;
}
.Homepage{
    background-color: #f88d8d;
    max-width: 100%;
}
.Homepage .bears{
    position:relative;
    top:-166px;
    left:-50px;
}
.Homepage .Vector{
    position:relative;
    top:-88px;
}
.Homepage a{
    background-color: #98C800;
    padding:33px 50px;
    font-size: 28px;
    border-radius:55px;
    text-decoration: none;
    color:black;
    font-weight:500;
    filter: drop-shadow(-6px 10px 0px #FDFF96);
}

@media (width < 1020px) {
    .Homepage img{
        display:flex;
        width:100%;
        margin:0 auto;
        padding:0;
        align-items: center;
    }
    .Homepage .Vector{
        display:none;
    }
    .Homepage .tagline, .Homepage .bears{
        left:0;
    }
    .Homepage .title {
        font-size: 44px;
        padding-top: 10px;
        line-height:1.25;
        margin-bottom:33px;
    }
    .Homepage .strikethrough {
        font-size: 20px;
        text-align: center;
        padding-top:99px;
    }
    .Homepage .shoptag {
        display:none;
    }
    .Homepage .bears{
        top:0;
        left:0;
        padding:55px 33px 22px 33px;
    }
    .Homepage a{
        padding: 11px 30px;
        font-size: 26px;
        
    }
}