.Homepage .container{
    max-width: 100%;
}
.Homepage .title{
    font-size:72px;
    padding-top:50px;
    z-index: 0;
}
.Homepage .strikethrough{
    color:#6EC1FF;
    font-size:50px;
    font-weight:900;
    position:absolute;
    padding-top:66px;
    left:-33px;
}

.Homepage .tagline{
    font-size:64px;
    padding-top:66px;
    position:relative;
    left:-66px;
}
.Homepage .shoptag{
    padding-top:133px;
    padding-left:111px;
    z-index: 1;
}
.Homepage{
    background-color: #f88d8d;
    max-width: 100%;
}
.Homepage .bears{
    position:relative;
    top:-166px;
    left:-50px;
}
.Homepage .Vector{
    position:relative;
    top:-88px;
}
.Homepage a{
    background-color: #98C800;
    padding:33px 50px;
    font-size: 28px;
    border-radius:55px;
    text-decoration: none;
    color:black;
    font-weight:500;
    filter: drop-shadow(-6px 10px 0px #FDFF96);
}