
.ShopPage .plateImg{
object-fit:cover ;
width:100%;
height:auto;
}
.ediblesButton a, .smokeButton a{
    font-size: 42px;
    text-decoration: none;
    color:black;
    font-weight:600;
}
.ediblesButton{
    margin-top:35px;
    position:absolute;
    left:366px;
    background-color:#98C800;  
    padding:0 60px 6px 5px;    
}
.smokeButton{
    position:absolute;
    background-color: #FDFF96;
    padding:0 5px 6px 60px;
    left:666px;

}

